$board-themes-2d: (
  "blue": (
    file-ext: "svg",
    coord-color-white: #dee3e6,
    coord-color-black: #788a94,
  ),
  "green": (
    file-ext: "svg",
    coord-color-white: #ffffdd,
    coord-color-black: #6d8753,
  ),
  "brown": (
    file-ext: "svg",
    coord-color-white: #f0d9b5,
    coord-color-black: #946f51,
  ),
  "purple": (
    file-ext: "svg",
    coord-color-white: #9f90b0,
    coord-color-black: #7d4a8d,
  ),
  "ic": (
    file-ext: "svg",
    coord-color-white: #ececec,
    coord-color-black: #c1c18e,
  ),
);
