.chessgroundMarkdownContainer {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: max-content;
}

.chessgroundMarkdown {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  width: 280px;
  height: auto;
  object-fit: contain;
  min-width: 150px;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}

.chessgroundInfo {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  min-width: 100px;
  padding-left: 10px;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.chessgroundInfo button {
  margin-top: 0.8em;
  height: 1.5em;
  font-size: 1.1em;
  font-family: "Courier New", monospace;
  color: white;
  background: #3692e7;
  border-radius: 5%;
  border-color: transparent;
  cursor: pointer;
}

.chessgroundInfo button:hover {
  filter: brightness(0.9);
}

.chessgroundMoves {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  min-width: 100px;
  padding-left: 10px;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.chessgroundMoveButtons {
  display: inline-grid;
  grid-template-columns: auto;
}

.chessgroundMoves button {
  grid-row: 1 / 1;
  padding: 4px;
  min-width: 2em;
  font-size: 1.5em;
  font-family: lichess-minimal;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: hidden;
  color: rgb(186, 186, 186);
  cursor: pointer;
}

.chessgroundMoves button:disabled {
  opacity: 0.5;
  cursor: default;
}

.chessgroundMoves button:hover {
  background: #537c23;
  color: #ffffff;
}
