$coord-color-default: #fff;
$coord-shadow-default: 0 1px 2px #000;

.cg-wrap coords {
  text-shadow: var(--cg-cs, $coord-shadow-default);
}

.cg-wrap.orientation-white .files coord:nth-child(2n + 1),
.cg-wrap.orientation-white .ranks coord:nth-child(2n),
.cg-wrap.orientation-black .files coord:nth-child(2n),
.cg-wrap.orientation-black .ranks coord:nth-child(2n + 1) {
  color: var(--cg-ccw, $coord-color-default);
}

.cg-wrap.orientation-white .files coord:nth-child(2n),
.cg-wrap.orientation-white .ranks coord:nth-child(2n + 1),
.cg-wrap.orientation-black .files coord:nth-child(2n + 1),
.cg-wrap.orientation-black .ranks coord:nth-child(2n) {
  color: var(--cg-ccb, $coord-color-default);
}
