.chess-info {
  float: left;
  font-size: 0.9em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.chess-info button {
  margin-top: 0.8em;
  height: 1.5em;
  font-size: 1.1em;
  font-family: "Courier New", monospace;
  color: white;
  background: #3692e7;
  border-radius: 5%;
  border-color: transparent;
  cursor: pointer;
}

.chess-info button:hover {
  filter: brightness(0.9);
}

.chessground-markdown {
  width: 400px;
  min-width: 200px;
  max-width: 600px;
  aspect-ratio: 1 / 1;
}
