.chess-info {
  float: left;
  font-size: 0.9em;
}

.chess-info button {
  margin-top: 0.8em;
  height: 1.5em;
  font-size: 1.1em;
  font-family: "Courier New", monospace;
  color: white;
  background: #3692e7;
  border-radius: 5%;
  border-color: transparent;
  cursor: pointer;
}

.chess-info button:hover {
  filter: brightness(0.9);
}
